<a href="https://colab.research.google.com/github/Saad-cpp/CodSoft-Internship/blob/main/Python_Titanic_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Titanic Dataset**

###*Reading data*

In [5]:
import pandas as pd

In [6]:
dataset = pd.read_csv("https://drive.usercontent.google.com/download?id=1NA088ZRVGBtuX7--4lRih9H8xPsB49XC&export=download&authuser=0&confirm=t&uuid=0030cb98-4673-479d-a8e2-7a00af0a218e&at=APZUnTVEmWe7hyoIeXQnqNpNMNLL:1692893121979")

In [7]:
dataset.shape

(418, 12)

In [8]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

####*Drop irrelevant columns*

In [9]:
def removeIrrelevant(set):
  set = set.drop(["PassengerId","Name","Ticket","Cabin"],axis=1)
  return set

dataset = removeIrrelevant(dataset)

####*Fill missing values*

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Sex       418 non-null    object
 3   Age       332 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Fare      417 non-null    float64
 7   Embarked  418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [11]:
def fillNull(set):
  nullColumns = ["Age","Fare","SibSp","Parch","Pclass"]
  for col in nullColumns:
    set[col].fillna(set[col].mean(), inplace=True)

  set["Embarked"].fillna('U',inplace=True)
  return set

dataset = fillNull(dataset)

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Sex       418 non-null    object
 3   Age       418 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Fare      418 non-null    float64
 7   Embarked  418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

####*Coverting String values to numbers*

In [12]:
from sklearn import preprocessing
def convert(set):
  encoder = preprocessing.LabelEncoder()
  stringColumns = ["Sex","Embarked"]
  for col in stringColumns:
    set[col] = encoder.fit_transform(set[col])
  return set

dataset = convert(dataset)

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

Y = dataset['Survived']
X = dataset.drop("Survived",axis=1)

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [14]:
model = LogisticRegression()
myModel = model.fit(X_train, Y_train)

In [15]:
predictions = myModel.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
score = accuracy_score(Y_test,predictions)
print(score*100,"% accurate")

100.0 % accurate