<a href="https://colab.research.google.com/github/Saad-cpp/CodSoft-Internship/blob/main/Python_Sales_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("https://drive.usercontent.google.com/download?id=1eiPuJWW9QI9Qtz1iLeqtZB6aFQnxGd6Y&export=download&authuser=0&confirm=t&uuid=5191e714-876f-474d-9a2c-cedc538bffbe&at=APZUnTUYsGE9LSFt8Pwg5R5Byvv_:1692893221888")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [3]:
dataset.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
from sklearn.model_selection import train_test_split
X = dataset.drop("Sales",axis=1)
Y = dataset["Sales"]

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [6]:
Y_train.head()

56      5.5
2      12.0
154    20.6
69     22.3
180    15.5
Name: Sales, dtype: float64

In [7]:
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor()

In [8]:
myModel = model.fit(X_train,Y_train)

In [9]:
predictions = myModel.predict(X_test)

In [10]:
from sklearn.metrics import mean_squared_error
score = mean_squared_error(Y_test,predictions)
print(score)

2.067950000000001